.container {
  max-width: 120rem; // 1200px if there's enough space. If viewport is less than 12ßßpx, then occupy 100% of the viewport width
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;
  // flex-grow, flex-shrink, flex-basis
  // no flex-grow if there's space, no flex-shink if there's not enoughs apace, always keep at 18%

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  //test
  height: 80rem;

  flex: 1;
  // the element should grow as much as it can
  // element should fill entire remaining width of content container
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // take 60% of width
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: yellow;
  flex: 1; // take up remaining space
}
